block card-vision
    div.cards-layout__card.card.card-vision
        div.card-title-row
            h3.title-card Машинное
                br
                | обучение
            img(class="logo-card", src="img/vision-logo.svg", alt="vision-logo.svg")/
        p.text-card IaaS-сервис для создания виртуальных машин без сложных настроек
        div.welcome-text.welcome-text_soon-text Скоро запуск
