block card-cont-cuber
    div.cards-layout__card.card.card-cont-cuber
        div.card-title-row
            h3.title-card Контейнеры
                br
                | Kubernetes
            img(class="logo-card", src="img/cont-cuber-logo.svg", alt="cont-cuber-logo.svg")/
        p.text-card IaaS-сервис для создания виртуальных машин без сложных настроек
        div.welcome-text Попробовать
