block card-virt-serv
    div.cards-layout__card.card.card-virt-serv
        div.card-title-row.card__title-row
            h3.title-card.card__title-card Виртуальные
                br
                | серверы
            img(class="logo-card", src="img/virt-serv-logo.svg", alt="virt-serv-logo.svg")/
        p.text-card.card__text-card IaaS-сервис для создания виртуальных машин без сложных настроек
        div.welcome-text Попробовать
