block card-obj-st
    div.cards-layout__card.card.card-obj-st
        div.card-title-row
            h3.title-card Объектное
                br
                | хранилище
            img(class="logo-card", src="img/obj-st-logo.svg", alt="obj-st-logo.svg")/
        p.text-card S3-совместимое облачное хранилище для быстрой работы с большими объемами данных
        div.welcome-text Попробовать
