block card-gpu
    div.cards-layout__card.card.card-gpu
        div.card--bg-actice
        div.card-title-row
            h3.title-card Графические
                br
                | адаптеры
            img(class="logo-card", src="img/GPU-outline-logo.svg", alt="GPU-outline-logo.svg")/
        p.text-card Мощные облачные вычисления на базе NVIDIA GPU без покупки собственных видеокарт
        div.welcome-text Попробовать
