block our-services
    section.main-page.our-services
        div.wrap-title
            h2.our-services__page-title Наши сервисы
        include cards-layout/cards-layout
        include btn-row-footer/btn-row-footer
