block card-cs-new
    div.cards-layout__card.card.card-cs-new
        div.card-title-row
            img.logo-card(class="logo-card", src="img/CS-new-logo.svg", alt="CS-new-logo.svg")/
        p.text-card.card-cs-new__text-card Скоро на платформе Mail.Ru Cloud Solutions появятся новые сервисы
        div.button.card-cs-new__button Быть в курсе
