block card-big-data
    div.cards-layout__card.card.card-big-data
        div.card-title-row
            h3.title-card Большие
                br
                | данные
            img(class="logo-card", src="img/big-data-logo.svg", alt="big-data-logo.svg")/
        p.text-card IaaS-сервис для создания виртуальных машин без сложных настроек
        div.welcome-text Попробовать
