block btn-row-footer
    div.btn-row-footer
        button.button.btn-row-footer__button.btn-row-footer__button_left Оставить заявку
        button.button.btn-row-footer__button.btn-row-footer__button_right Узнать стоимость
