block card-data-base
    div.cards-layout__card.card.card-data-base
        div.card-title-row
            h3.title-card База данных
                br
                | в облаке
            img(class="logo-card", src="img/database-logo.svg", alt="database-logo.svg")/
        p.text-card IaaS-сервис для создания виртуальных машин без сложных настроек
        div.welcome-text Попробовать
