block cards-layout
    div.wrap-cards.cards-layout
        include common.cards/card-virt-serv/card-virt-serv
        include common.cards/card-obj-st/card-obj-st
        include common.cards/card-gpu/card-gpu
        include common.cards/card-cont-cuber/card-cont-cuber
        include common.cards/card-big-data/card-big-data
        include common.cards/card-data-base/card-data-base
        include common.cards/card-vision/card-vision
        include common.cards/card-cs-new/card-cs-new
